
@model HattrickPSK.Models.User

@{
    ViewBag.Title = "Login";
    Layout = null;
}

@*Sending user info to server*@
@using (Html.BeginForm("Index", "Login", FormMethod.Post))
{
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <fieldset>
        <legend>HattrickPSK login</legend>

        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
        @if (@ViewBag.Message != null)
        {
            <div style="border: 1px solid red">
                @ViewBag.Message
            </div>
        }

        <table>
            <tr>
                <td>@Html.LabelFor(a => a.Username)</td>
                <td>@Html.TextBoxFor(a => a.Username) </td>
                <td>@Html.ValidationMessageFor(a => a.Username)</td>
            </tr>
            
            <tr>
                <td>
                    @Html.LabelFor(a => a.Password)
                </td>
                <td>
                    @Html.PasswordFor(a => a.Password)
                </td>
                <td>
                    @Html.ValidationMessageFor(a => a.Password)
                </td>
              
        </table>
        <br />
        <input type="submit" class="btn btn-primary" value="Login" />&emsp;
        <input type="button" class="btn btn-secondary" value="Forget password?" onclick="window.location.assign('/Login/Forgottenpassword')" />&emsp;
        <input type="button" class="btn btn-secondary" value="Registration" onclick="window.location.assign('/Registration/index')" />
    </fieldset>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
}
