@model HattrickPSK.Models.User


@{
    ViewBag.Title = "Profil information";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Profil information</h3>
<br />
@using (Html.BeginForm())
{
<form class="form-horizontal">

    <div class="form-group">
        <label>First name:</label>

        @Html.DisplayFor(model => model.FirstName)

    </div>
        
    <div class="form-group" >
        <label>Last name:</label>
        
            @Html.DisplayFor(model => model.LastName)
        
    </div>
    <div class="form-group">
        <label>Username:</label>
        
            @Html.DisplayFor(model => model.Username)
       
    </div>
    <div class="form-group">
        <label>Email:</label>
        @Html.DisplayFor(model => model.Email)

    </div>
    <div class="form-group">
        <label >Balance:</label>
        @Html.DisplayFor(model => model.Balance)
    </div>
    <td class="col-sm-2">
        @Html.ActionLink("Change Password", "ChangePassword", new { id = Session["UserID"] })
        &emsp;
    </td>

    <td class="col-sm-5">
        @Html.ActionLink("Add balance", "AddBalance", new { id = Session["UserID"] })
    </td>
</form>
}
